.listItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.title {
  user-select: none;
}

.label {
  display: flex;
  font-size: 18px;
}

.textbox {
  display: inline-block;
  padding: 1px 5px;
  font-size: 18px;
  line-height: 1.4;
  border-radius: 4px;
}

.editButton,
.deleteButton {
  font-weight: 300;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  line-height: 1.2;
  padding: 6px 12px;
  font-size: 16px;
}

.editButton {
  margin-right: 5px;
}
